@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    background-color: #F4F4F4;
}
header{
    min-height: 100vh;
    position: relative;
}
.paralelograma{
    width: 20%;
    height: 10vh;
    margin-left: -10px;
    background-color: #009b0074;
    transform: skew(-20deg);
}
.paralelograma img{
    width: 50%;
    margin:0 0 0 5rem ;
}
header nav{
    font-size: 0.9rem;
    width: 100%;
    background-color:  #0000006c;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

header nav ul {
    display: flex ;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
header nav ul li{
list-style: none;
margin: 0.8rem 1rem .8rem 1rem;
transition: .5s, color .10s;
-webkit-transition: .5s, color .10s;
-moz-transition: .5s, color .10s;
}
header nav ul li a{
text-decoration: none;
color: rgb(255, 255, 255);
}
header nav ul li:hover{
    border-bottom: 1.4px solid #009b00 ;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}        
header nav ul li a:hover{
    color: #ffffff;
}
    
.collage{
    width: 100%;
    height: 50vh;
    position: absolute;
}
.triangulo video{
    width: 33.3%;
    height: 50vh;
    border-top: 150px solid transparent;
    border-left:100px solid transparent;
    border-right:90px solid transparent;
    border-bottom:120px solid transparent    ;
    object-fit: cover;
}
.layer{
    width: 100%;
    height: 70%;
    margin: 0;
    position: absolute;
    background-color: #000000;
    opacity: .5;
    mix-blend-mode: overlay;
}