@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    background-color:#ebe8e7;
}

.imgNav{
    width: 10%;
    height: 10vh;
    margin-left: 30px;
}
.contentImg{
    border-radius: 8px 0px 0px 0px;
    background-color: rgb(134, 79, 245);
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
}

nav{
    width: 100vw;
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#291216;
    box-shadow: 0px 0px 17px #000000 ;
    position: static;
}

nav > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;

}
nav > ul >li {
    list-style: none;
    margin: 0 10px;

}
nav > ul >li >a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

nav > ul >li:hover{
    border-bottom: 2px solid #301513;
}
nav > ul >li>a:hover{
    display: flex;
   align-items: center;
    height: 5vh;
}



              